.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}
.container
{
    align-content: center;
    margin-top:50px;
}
.mat-header-cell {
  text-align: center;
  color: slateblue;
  font-weight:bold;   
}
.tableCaption{
  font-weight: bold;
  color: darkslateblue;
  margin-left: 332px;
}
button:focus {outline:0;}