<mat-card class="demo-panel">
  <mat-card-content>
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav class="example-sidenav">
        <a routerLink="/createproduct"><mat-icon>add_to_queue</mat-icon>Create Product</a>
      </mat-sidenav>
      <div class="example-sidenav-content">
        <button type="button" mat-button class="sidenav-icon" (click)="sidenav.open()"><mat-icon>menu</mat-icon></button>
        <div class="container-fluid">
            <router-outlet></router-outlet>
          </div>
      </div>
    </mat-sidenav-container>
  </mat-card-content>
</mat-card>