<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-icon>assignment_ind</mat-icon><p>Sign Up</p>
          
          <section class="example-section">
            <label class="example-margin">Business Partner Type:</label>
            <mat-radio-group formControlName="partner">
            <mat-radio-button class="example-radio-button" value="B">Buyer</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="S">Seller</mat-radio-button>
            </mat-radio-group>
          </section>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Name" formControlName="name" required>
          <!-- <mat-icon matSuffix>lock</mat-icon> -->
          <mat-error *ngIf="isFieldInvalid('name')">
            Please inform your name
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Location" formControlName="location" required>
            <!-- <mat-icon matSuffix>lock</mat-icon> -->
            <mat-error *ngIf="isFieldInvalid('location')">
              Please inform your location
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="District" formControlName="district" required>
            <!-- <mat-icon matSuffix>lock</mat-icon> -->
            <mat-error *ngIf="isFieldInvalid('district')">
              Please inform your district
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Pincode" formControlName="pincode" required>
            <!-- <mat-icon matSuffix>lock</mat-icon> -->
            <mat-error *ngIf="isFieldInvalid('pincode')">
              Please inform your pincode
            </mat-error>
          </mat-form-field>
        <button mat-raised-button color="primary"><mat-icon>assignment_ind</mat-icon>&nbsp;&nbsp;Sign Up</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>