<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
          <mat-icon>assignment_ind</mat-icon><p>Sign Up</p>

          <section class="example-section">
            <label>Business Partner Type:&nbsp;</label>
            <mat-radio-group class="example-radio-group" formControlName="partner">
            <mat-radio-button class="example-radio-button" value="B">Buyer</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="S">Seller</mat-radio-button>
            </mat-radio-group>
          </section>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="isFieldInvalid('name')">
            Please input valid Name having length less than 20
          </mat-error>
          <mat-error *ngIf="userNameExists">
              Please inform unique name
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Location" formControlName="location" required>
            <!-- <mat-icon matSuffix>lock</mat-icon> -->
            <mat-error *ngIf="isFieldInvalid('location')">
              Please input valid location having length less than 10
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="District" formControlName="district" required>
            <!-- <mat-icon matSuffix>lock</mat-icon> -->
            <mat-error *ngIf="isFieldInvalid('district')">
              Please input valid district having length less than 10
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input autocomplete="off" matInput placeholder="Pincode" formControlName="pincode" required>
            <!-- <mat-icon matSuffix>lock</mat-icon> -->
            <mat-error *ngIf="isFieldInvalid('pincode')">
              Please input valid pincode having 6 digits
            </mat-error>
          </mat-form-field>
        <button mat-raised-button color="primary" type="submit"><mat-icon>assignment_ind</mat-icon>&nbsp;&nbsp;Sign Up</button>&nbsp;&nbsp;
        <button mat-raised-button color="warn" (click)="redirectToLogin()"><mat-icon>keyboard_return</mat-icon>&nbsp;&nbsp;Back</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
