

<h2 mat-dialog-title>Product List</h2>

<mat-dialog-content >

    <div class="container mat-elevation-z8">
        <div class="form">
            <label class="tableCaption">OUT OF STOCK</label>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="product_id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Product Id</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.product_id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="product_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.product_name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="s_user_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Sub Contractor's Id</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.s_user_name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="product_price">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Price/Quantity</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.product_price}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="product_quantity">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Availabl Quantity</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.product_quantity}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="quantity_ordered">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Ordered Quantity</mat-header-cell>

                <mat-cell *matCellDef="let row">
                  <input autocomplete="off" matInput class="custom-input" (keyup)="invokeAction($event.target.value,row)" type="number" [(ngModel)]="row.quantity_ordered">
                </mat-cell>
              </ng-container>




                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <!-- <button mat-button (click)="showDetails(row)">DETAILS</button> -->
                      <button mat-icon-button (click)="placeOrder(row)"><mat-icon >shopping_cart</mat-icon></button>
                      <!-- <button mat-button (click)="deleteItem(row)">DELETE</button> -->
                    </mat-cell>
                  </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

          </mat-table>

          <div class="no-results" [style.display]="dataSource==null || dataSource.length == 0 ? '' : 'none'">
              No results
            </div>
            <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
    </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button mat-primary"(click)="close()">Close</button>
</mat-dialog-actions>
