<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" class="app-sidenav">
    <mat-toolbar color="primary">
      <span class="toolbar-filler"></span>
      <button mat-icon-button *ngIf="isAuthenticated()" (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button"
        [hidden]="!sidenav.opened">
        <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-list>
      <mat-list-item>
        <div mat-line>
          <button mat-button (click)="sidenav.toggle()" *ngIf="isAuthenticated()" routerLink="/products">
            <mat-icon mat-list-icon>list_alt</mat-icon>Product Catalog</button>
        </div>
        <div mat-line>
          <button mat-button (click)="sidenav.toggle()" *ngIf="isAuthenticated()" routerLink="/addproduct">
            <mat-icon mat-list-icon>ballot</mat-icon>Add Products</button>
        </div>
        <div mat-line>
          <button mat-button (click)="sidenav.toggle()" *ngIf="isAuthenticated()" routerLink="/createproduct">
            <mat-icon mat-list-icon>add_to_queue</mat-icon>Create Product</button>
        </div>
        <div mat-line>
          <button mat-button (click)="sidenav.toggle()" *ngIf="isAuthenticated()" [routerLink]="['./orders', 'all']" [skipLocationChange]="true" [queryParams]="{ tableTitle: 'My Order Status' }">
            <mat-icon mat-list-icon>list</mat-icon>My Order Status</button>
        </div>
        <div mat-line>
          <button mat-button (click)="sidenav.toggle()" *ngIf="isAuthenticated()" [routerLink]="['./orders', 'pendingOrders']" [skipLocationChange]="true" [queryParams]="{ tableTitle: 'My Pending Orders' }">
            <mat-icon mat-list-icon>filter_list</mat-icon>My Pending Orders</button>
        </div>
        <div mat-line>
          <button mat-button (click)="sidenav.toggle()" *ngIf="isAuthenticated()" [routerLink]="['./orders', 'deliveredOrders']" [skipLocationChange]="true" [queryParams]="{ tableTitle: 'Orders Completed' }">
            <mat-icon mat-list-icon>view_list</mat-icon>Orders Completed</button>
        </div>
        <div mat-line>
          <button mat-button (click)="sidenav.toggle()" *ngIf="isAuthenticated()" [routerLink]="['./orders', 'approval']" [skipLocationChange]="true" [queryParams]="{ tableTitle: 'Orders Pending for Approval' }">
            <mat-icon mat-list-icon>assignment_turned_in</mat-icon>Orders Pending for Approval</button>
        </div>
        <div mat-line>
          <button mat-button (click)="sidenav.toggle()" *ngIf="isAuthenticated()">
            <mat-icon mat-list-icon>reorder</mat-icon>Out of Stock</button>
        </div>
        <div mat-line>
          <button mat-button (click)="sidenav.toggle()" *ngIf="isAuthenticated()">
            <mat-icon mat-list-icon>favorite</mat-icon>My Wishlist</button>
        </div>
        <div mat-line>
          <button mat-button (click)="sidenav.toggle()" *ngIf="isAuthenticated()">
            <mat-icon mat-list-icon>card_membership</mat-icon>Sub Contractor</button>
        </div>
        <div mat-line>
          <button mat-button (click)="sidenav.toggle()" *ngIf="isAuthenticated()" routerLink="/mysubcontractors">
            <mat-icon mat-list-icon>face</mat-icon>My SubContractors</button>
        </div>
        <div mat-line>
          <button mat-button (click)="sidenav.toggle()" *ngIf="isAuthenticated()">
            <mat-icon mat-list-icon>shopping_cart</mat-icon>Place Order</button>
        </div>
        <div mat-line>
          <button mat-button (click)="sidenav.toggle()" *ngIf="isAuthenticated()" [routerLink]="['./orders', 'all']" [skipLocationChange]="true" [queryParams]="{ tableTitle: 'Order Details' }">
            <mat-icon mat-list-icon>view_headline</mat-icon>Order Details</button>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-toolbar id="appToolbar" color="primary">
    <button mat-icon-button *ngIf="isAuthenticated()" (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button"
      [hidden]="sidenav.opened">
      <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
    </button>
    <h1 class="component-title" *ngIf="isAuthenticated()">
      <a class="title-link">{{title}}</a>
    </h1>
    <h1 class="component-title" *ngIf="!isAuthenticated()">
      <a class="title-link">Inventory Management</a>
    </h1>
    <span class="toolbar-filler"></span>
    <!--<button id="button-login" mat-button [routerLink]="['/signupin']" *ngIf="!(user | async)">Log In</button>-->
    <button routerLink="/login" *ngIf="isAuthenticated()" (click)="signOut()" mat-button>
      <mat-icon mat-list-icon>error_outline</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>