<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul *ngIf="isAuthenticated()" class="nav navbar-nav">

  </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <!-- <li class="navbar-item">
        <a class="navbar-link" routerLink="/products">Show Products</a></li> -->

        <li class="nav-item" *ngIf="isAuthenticated()">
            <a class="nav-link" href="" routerLink="/products"  >
                Show Products</a>
          </li>
        <li class="nav-item" *ngIf="isAuthenticated()">
            <a class="nav-link" href=""  >
              Add Products</a>
          </li>
      <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link" href=""  >
            Search Products</a>
        </li>
      <li class="nav-item" *ngIf="isAuthenticated()">
          <a class="nav-link" href=""  >
            Order Status</a>
        </li>
        </ul>
        <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link" href="#">
          {{user.name}}</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated()">
        <a class="nav-link"  routerLink="/signOut" href="" (click)="signOut()">
          <span></span>Sign Out</a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated()">
        <a class="nav-link" href=""  >
          <span></span>Register</a>
      </li>
      <li class="nav-item ml-auto" *ngIf="!isAuthenticated()">
        <a class="nav-link" href=""  >
          <span></span>Sign In</a>
      </li>
    </ul>
    <!--   <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
