mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  .signin-content {
    padding: 60px 1rem;
  }
  .full-width-input {
    width: 100%;
  }
  /* ::ng-deep .snack-bar-container .snack-bar-color .mat-simple-snackbar-action{
    background-color: #00ff7f;
    color: orange;
  } */
  ::ng-deep snack-bar-container.snack-bar-color {
    background: green;
  }
  
  /* ::ng-deep .snack-bar-color .mat-simple-snackbar {
    color: fuchsia;
  } */