<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
          <mat-icon>add_to_queue</mat-icon><p>Create Product</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Product Name" formControlName="product_name" required>
          <!-- <mat-icon matSuffix>lock</mat-icon> -->
          <mat-error *ngIf="isFieldInvalid('product_name')">
            Please input valid product name having length less than 30
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Product Type" formControlName="product_type" required>
            <!-- <mat-icon matSuffix>lock</mat-icon> -->
            <mat-error *ngIf="isFieldInvalid('product_type')">
              Please input valid product type having length less than 30
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Product Description" formControlName="product_description" required>
            <!-- <mat-icon matSuffix>lock</mat-icon> -->
            <mat-error *ngIf="isFieldInvalid('product_description')">
              Please input valid product description having length less than 50
            </mat-error>
          </mat-form-field>
          
        <button mat-raised-button color="primary"><mat-icon>add_box</mat-icon>&nbsp;&nbsp;Create Product</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>