
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
              
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [formControl]="userName"  [errorStateMatcher]="matcher">
              <mat-icon matSuffix>lock</mat-icon>
			  <mat-error *ngIf="userName.hasError('required')">User name is required</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field>
            <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field></td>
        </tr></table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
	<button mat-raised-button (click)="register()" color="warn">Sign Up</button>
  </mat-card-actions>
</mat-card>
