<mat-card class="example-card">
  <mat-card-header class="login-header">
    <mat-icon style="font-size: -webkit-xxx-large;">account_circle</mat-icon>
    <!-- <mat-card-title>Login</mat-card-title> -->
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="form" autocomplete="off">
     
            <mat-form-field class="full-width-input">
              <input matInput placeholder="User" formControlName="username" required> <mat-icon matSuffix>lock</mat-icon>
              <mat-error *ngIf="isFieldInvalid('username')">
                Please inform your user name
              </mat-error>
            </mat-form-field>
       
            <mat-form-field class="full-width-input">
              <input matInput type="password" placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required> 
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="isFieldInvalid('password')">
                Please inform your password
              </mat-error>
            </mat-form-field>

           
        
    </form>
  </mat-card-content>
  <mat-card-actions>

    <button mat-raised-button color="primary"  (click)="login()">
      <mat-icon>input</mat-icon>&nbsp;&nbsp;Login</button>

    <button mat-raised-button (click)="register()"  color="warn">
      <mat-icon>assignment_ind</mat-icon>&nbsp;&nbsp;Sign Up</button>
  </mat-card-actions>
</mat-card>